<Virtualhost *:80>

    PassengerRuby {{ ruby_wrapper_path.stdout }}
    DocumentRoot {{ redmine_path }}/public

    <Directory {{ redmine_path }}/public/>
        RailsBaseURI /
        RailsEnv {{ rails_env }}
        Options Indexes ExecCGI FollowSymLinks
        Order allow,deny
        Allow from all
        AllowOverride all
    </Directory>

</Virtualhost>
